.soc-ico2 {
  overflow: hidden;
}

.soc-ico2 a {
  position: relative;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  -ms-justify-content: center;
  justify-content: center;
  /float: left;/
  margin: 3px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.soc-ico2 a:before,
.soc-ico2 a:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: "";
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-transition: opacity 0.150s;
  transition: opacity 0.150s;
}

.soc-ico2.text-centered a {
  float: none;
  display: inline-block;
}